<!-- wp:template-part {"slug":"header","theme":"livro-child","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"align":"wide","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
<h1 class="alignwide" style="font-style:normal;font-weight:400">Photo archive</h1>
<!-- /wp:heading -->

<!-- wp:term-description {"align":"wide"} /-->

<!-- wp:spacer {"height":"2rem"} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"post-loop-photo","theme":"livro-child"} /-->

<!-- wp:template-part {"slug":"footer","theme":"livro-child","tagName":"footer"} /-->