<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:post-date {"fontSize":"small"} /-->

<!-- wp:spacer {"height":"24px"} -->
<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:block {"ref":889} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:group {"className":"c-postmeta","layout":{"inherit":true}} -->
<div class="wp-block-group c-postmeta"><!-- wp:group {"layout":{"type":"flex"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Categorised as</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"category","fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Tagged</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:separator {"color":"foreground","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-background has-foreground-background-color has-foreground-color is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:group {"className":"has-small-font-size","layout":{"type":"flex"}} -->
<div class="wp-block-group has-small-font-size"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"linkLabel":true} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"has-small-font-size","layout":{"type":"flex"}} -->
<div class="wp-block-group has-small-font-size"><!-- wp:post-navigation-link {"showTitle":true,"linkLabel":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:separator {"className":"is-style-wide"} -->
<hr class="wp-block-separator is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:post-comments /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->